.idea/
phpmyadmin/
.DS_Store
build/
/vendor/
codecept.phar
_log/
*.phar
bower_components
node_modules
klasse-wp-poll-survey.php
js/dist/kwps_admin.min.js
js/dist/kwps_admin.js
js/temp/
deploy/
assets/
assets/*
