<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
    processIsolation="false"
	>
	<testsuites>
		<testsuite name="tests">
			<directory prefix="test-" suffix=".php">./tests/general/</directory>
		</testsuite>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
	</testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
    </logging>
</phpunit>
