<tr>
    <th style="border-top: 1px solid #D6D6D6;">&nbsp;</th>
    {{#each versions}}
        <th style="border-top: 1px solid #D6D6D6;" class=" column-title  bottom">
            <div class="column-tab">
                Shortcode: [kwps_version id={{ID}}]
            </div>
            {{#if isLive}}
                <div>
                    <h3>Results: </h3>
                    <ul>
                        <li>View count: {{_kwps_view_count}}</li>
                    </ul>
                </div>
            {{/if}}
        </th>
    {{/each}}
    <td style="border-top: 1px solid #D6D6D6;">&nbsp;</td>
</tr>