<tr>
    <th class="no-delete column-action">&nbsp;</th>
    {{#each versions}}
        <th class=" column-title">
            <div class="column-tab">
                <input name="{{ID}}" value="{{post_title}}">
                {{#if deleteVersion}}
                    <span class="del" data-post-type="kwps_version" data-type="row" data-sort-order="{{_kwps_sort_order}}">
                        <span data-code="f182" class="dashicons dashicons-trash"></span>
                    </span>
                {{/if}}
            </div>
        </th>
    {{/each}}
    <td class="column-title" style="width:85px;">
        <div class="column-tab">
            <button class="add button" data-post-type="kwps_version">
                <span data-code="f132" class="dashicons dashicons-plus"></span>
            </button>
        </div>
    </td>
</tr>