<tr>
    <th>&nbsp;</th>
    {{#each versions}}
        <th class=" column-title">
            <div class="column-tab bottom">
                Shortcode: [kwps_version id={{ID}}]
            </div>
        </th>
    {{/each}}
    <td></td>
    
</tr>