<div>
    <div>
        <table id="matrix" class="wp-list-table widefat fixed" style="table-layout:fixed;">
            

            {{> controlTestTopRow}}
            {{#each table}}
                {{#if mainTitle}}
                    {{> controlTestMainTitleRow}}
                {{/if}}
                {{#if mainRow}}
                    {{> controlTestMainRow}}
                {{/if}}
                {{#if questionTitle}}
                    {{> controlTestQuestionTitleRow}}
                {{/if}}
                {{#if question}}
                    {{> controlTestQuestionRow}}
                {{/if}}
                {{#if answerTitle}}
                    {{> controlTestAnswerTitleRow}}
                {{/if}}
                {{#if answer}}
                    {{> controlTestAnswerRow}}
                {{/if}}
            {{/each}}


            

            

            

            {{> controlTestMainTitleRow}}

            {{> controlTestMainRow}}
        </table>
    </div>
</div>