<div id="icon-tests" class="icon32"><br/>
</div>
<h2>Test control panel</h2>

<div class="test-input">
    <input type="text" name="post_title" id="post_title" placeholder="{{t New Test}}"/>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-add">Test builder</a></li>
        <li><a href="#tabs-settings">Settings</a></li>
    </ul>
    <div id="tabs-add">
        {{> controlTest}}
    </div>
    <div id="tabs-settings">
        {{> settings}}
    </div>
</div>